<h1><%= @registered_application.name %></h1>
<p>URL: <%= @registered_application.url %></p>
<p>Events count: <%= @events.count %></p>
<hr />

<%= link_to "Delete Registration", @registered_application, method: :delete, class: 'btn btn-danger', data: {confirm: 'Are you sure you want to delete this registration?'} %>
